<h1>{{ title }}</h1>
<p>{{ message }}</p>
<h3>Create a task</h3>
<a href="localhost:3000">back</a>
<table>
	{{#each tasks}}
	<tr>
		<td>{{this.title}}</td>
		<td>{{this.body}}</td>
		<td>{{this.author}}</td>
	</tr>
	{{/each}}
</table>